<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP</title>
  
</head>
<body>
  <h1 id="text"></h1>
  <h1>APP</h1>
  <button>
    Начать
  </button>
  <div id="counter"></div>
  <script>  var button = document.querySelector("button");
  button.addEventListener("click", function() {
    console.log("Кнопка нажата.");
  });
    var eventSource = new EventSource("/listen")

    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("online", function(e) {
      // console.log(e.data.color)
      data = JSON.parse(e.data)
      document.querySelector("#text").innerText = data.text
    }, true)
</script>
</body>
</html>